body {
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1em;
}

th, td {
    border: 1px solid #ccc;
    padding: 0.5em;
    text-align: left;
}

#simulation-parameters {
    margin-bottom: 1em;
}
