@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --bg-color: #121212;
    --primary-color: #00bcd4;
    --text-color: #e0e0e0;
    --border-color: #333;
    --box-bg-color: #1e1e1e;
    --hover-color: #00a8bb;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.kpi-panel-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 25px;
    max-width: 1400px;
    margin: auto;
}

.panel-header {
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 30px;
}

.box {
    background-color: var(--box-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

h1, h2 {
    color: var(--primary-color);
    font-weight: 400;
}

h1 {
    font-size: 3em;
    font-weight: 300;
    margin-bottom: 0;
    letter-spacing: 1px;
}

h2 {
    font-size: 1.6em;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 15px;
    margin-top: 0;
    font-weight: 400;
}

#simulation-controls {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    margin-top: 20px;
}

#simulation-parameters {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.parameter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label {
    font-size: 1em;
    color: var(--text-color);
    opacity: 0.9;
}

button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    flex-grow: 1;
}

button:hover {
    background-color: var(--hover-color);
    transform: scale(1.05);
}

input[type="number"] {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 1em;
    width: 60px;
    text-align: right;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid var(--border-color);
}

th {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1.1em;
}

td {
    font-size: 1em;
}

canvas {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
}
